html
  head
    link(rel='stylesheet', href='https://unpkg.com/sakura.css/css/sakura.css', type='text/css')

  body
    h4 Login Page
    br
    form(method='POST')
      label Username:
      input(type='text', name= 'username')
      br
      label Password
      input(type='text', name= 'password')
      br
      input(type='submit', value= 'Login')
      br
      br
      br
      p
        |username:
        strong
         | alen
      p
        |password:
        strong
          | thomas
