<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>TaskMaster</title>
</head>

<body>
  <div id="login">
    <form>
      <h2> Log in </h2>
     User name: <input type="text" name="username"><br><br>
      Password: <input type="password" name="password"><br><br>
      <button>Log in</button>
    </form>
  </div>

  <div id="signUp">
    <h2>Sign up</h2>
    <form>
     Phone number: <input type="text" name="phoneNo"><br><br>
     User name: <input type="text" name="username"><br><br>
     Password: <input type="password" name="password"><br><br>
     Confirm password: <input type="password" name="confirmPassword"><br><br>
      <button>Sign up</button>
    </form>
  </div>
</body>

</html>